@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Audiowide", sans-serif;
}

body {

    height: 100vh;
    background-image: url("wp2792170-wallpaper-black-lion.jpg");
    background-size: cover;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    align-items: center;
}

.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a,
.btn {
    display: inline-block;
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideBottom 0.5s ease forwards;
    animation-delay: calc(0.2s * var(--i));
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -6px;
    width: 0%;
    height: 3px;
    border-radius: 0px;
    background: WHITE;
    transition: 0.3s;

}

.navbar a:hover::after {
    width: 100%;
    background: #CEFF1A;

}

.navbar a:hover,
.navbar a.active {
    color: #CEFF1A;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    opacity: 0;
    animation: slidezoom 1.5s ease forwards;

}

.home-content h1 {
    color: #CEFF1A;
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-content h2 {
    color: #CEFF1A;
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1s;
}



.home-content h3 {
    color: #CEFF1A;
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1s;
}

.home-content h4 {
    color: #CEFF1A;
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3 span {
    color: #CEFF1A;
}

.navbar .btn {
    margin-left: 30px;
    height: 50px;
    width: 150px;
    padding: 0.8em 1.8em;
    border: 2px solid #CEFF1A;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #CEFF1A;
    opacity: 0;
    animation: slidezoom 0.5s ease forwards;
    animation-delay: 1.2s;
}

.navbar .btn::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #CEFF1A;
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.navbar .btn:hover::before {
    width: 200px;
}

.navbar .btn:hover {
    color: #111;
    border: 2px solid black;
}

/*key frames aniamion*/
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;

    }
}

@keyframes slideTop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;

    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;

    }
}

@keyframes slidezoom {
    0% {
        transform: scale(4);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;

    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;

    }
}

.portfolio {
    background: black;
    padding: 50px;
    height: 100%;
    width: 100%;

}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 1rem;
    margin-top: 4rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    box-shadow: 0 0 1rem;
    overflow: hidden;
    display: flex;
}

.portfolio-box {
    height: 280px;
    width: 450px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.portfolio-box img {
    width: 100%;
    transition: .5s ease;
}

.portfolio-box img:hover {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background: linear-gradient(45deg, rgba(0, 0, 0, .1), #CEFF1A);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0%);
}

.portfolio-layer h4 {
    font-size: 3rem;
}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}



/*scroll*/
.sec-1,
.sec-2,
.sec-3,
.sec-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: black;

}

.sec-5 {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.section .animate {
    transition: 1s;
}


.sec-1 .animate {
    transform: translateX(100%);
}

.sec-1.show-animate .animate {
    transform: translateX(0%);
}

.sec-5 .card {
    position: relative;
    width: 190px;
    height: 254px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
}

.sec-5 .card::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -5px;
    margin: auto;
    width: 200px;
    height: 264px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.sec-5 .card::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
}

.sec-5.heading {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
}

.sec-5 .card p:not(.heading) {
    font-size: 14px;
}

.sec-5 .card p:last-child {
    color: #e81cff;
    font-weight: 600;
}

.sec-5 .card:hover::after {
    filter: blur(30px);
}

.sec-5 .card:hover::before {
    transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}