@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Audiowide', sans-serif;
}

body {

    height: 100vh;
    background: url("https://media.istockphoto.com/id/1333772664/photo/digital-eye-wave-lines-stock-background.jpg?b=1&s=612x612&w=0&k=20&c=5QkQ6ak20vhlLeD9w7nbfzSnTnyyMXQWx-F_8s2y2E0=");
    background-size: cover;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    padding: 20px 10%;
    background: linear-gradient(75deg, blue, pink);
    display: flex;
    justify-content: space-between;
    z-index: 100;
    align-items: baseline;
    gap: 1rem;
}

.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.navbar .link {
    display: inline-block;
    font-size: 18px;
    color: bisque;
    background: transparent;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideBottom 0.5s ease forwards;
    animation-delay: calc(0.2s * var(--i));
}

.navbar .link::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -6px;
    width: 0%;
    height: 3px;
    border-radius: 0px;
    background: WHITE;
    transition: 0.3s;

}

.navbar .link:hover::after {
    width: 100%;
    background: blue;

}

.navbar .link:hover,
.navbar .link.active {
    color: #5a189a;
}

.link {
    background-color: transparent;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    margin-top: 20px;
    transform: translate(-50%, 0);
    width: 50vw;
    left: 0;
    top: calc(100% + .25rem);
    background-color: rgb(103, 103, 240);
    padding: .75rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity .3s ease-in-out, transform .3s ease-in-out;

}

.dropdown.active>.link+.dropdown-menu {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.information-grid {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;

}

.dropdown .links {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}


.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    opacity: 0;
    animation: slidezoom 1.5s ease forwards;
    gap: 20px;

}

.home-content h1 {
    color: beige;
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 4px;
}

.home-content h2 {
    color: beige;
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1s;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 4px;
}



.home-content h3 {
    color: beige;
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1s;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 4px;
}

.home-content h4 {
    color: beige;
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 4px;
}

.home-content h3 span {
    color: beige;
}

.dropdown,
.dropdown2,
.dropdown3,
.dropdown4,
.link {
    opacity: 0;
    animation: slideTop .2s ease forwards;
    animation-delay: var(0.2s * --i);

}

.navbar .btn {
    margin-left: 30px;
    height: 50px;
    width: 150px;
    padding: 0.8em 1.8em;
    border: 2px solid black;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: black;
    opacity: 0;
    animation: slidezoom 0.5s ease forwards;
    animation-delay: 1s;
}

.navbar .btn::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: blue;
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.navbar .btn:hover::before {
    width: 200px;
    background-color: blue;
}

.navbar .btn:hover {
    color: bisque;
    border: 2px solid black;
}

.card-container1 {
    height: 100vh;
    width: 100%;
    background: linear-gradient(-45deg, cyan, orange);
    padding-top: 40px;
    color: #5a189a;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-1 {
    position: absolute;
    height: 82%;
    width: 35%;
    background-image: url("https://i.pinimg.com/736x/20/9a/73/209a73da8c13e2614d25652556e0973a.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 55%;

    opacity: 0;
    animation: slideRight 1s ease forwards;
}

#content1 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 82%;
    width: 55%;
    margin-left: 35%;
    background-image: url("sapiens.png");

    background-position: center;
    background-size: cover;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
}

#content1 h2 {
    font-size: 36px;
    text-align: center;
}

#page1 {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1f1f1e;
}

#lineup {

    border-bottom: 1px solid white;
    border-top: 1px solid white;
    animation: lines 2s forwards;
    margin-right: auto;
}

#linedown {

    border-bottom: 1px solid white;
    border-top: 1px solid white;
    animation: lines 2s forwards;
    margin-left: auto;
}


#wrapper {
    position: relative;
    width: 100%;
    height: 460px;
    padding: 30px 30px;
    overflow: hidden;

}

.cards {
    width: 100vw;
    position: absolute;
    display: flex;
    gap: 30px;
    left: 60%;
    user-select: none;
    animation: animate 2s forwards;
}



.cards #content {
    width: 300px;
    height: 400px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-container3 {
    height: 100vh;
    width: 100%;
    background: linear-gradient(-45deg, cyan, orange);
    padding-top: 40px;
    color: #5a189a;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card {
    width: 270px;
    height: 400px;
    background-color: #16191e;
    border-radius: 8px;
    user-select: none;
    object-fit: cover;
    object-position: 100% 50%;
}

#page2 {
    background-color: #12112b;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

#page2 img {
    width: 300px;
    height: 500px;
    margin-left: 5%;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    border: 1px solid white;
}


/*key frames aniamion*/
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;

    }
}

@keyframes slideTop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;

    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;

    }
}

@keyframes slidezoom {
    0% {
        transform: scale(4);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;

    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;

    }
}

@keyframes animate {
    0% {
        transform: translateX(40%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes lines {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}